.playlist > ul {
  display: grid;
  place-items: center;
  background-color: #121212;
  color: #fff;
  gap: 20px;
  padding: 20px 0 120px;
}

.playlist__header {
  background-color: black;
  color: #fff;
  text-align:center;
}